html,
body {
    height: 100%;
    margin: 0;
    background-color: rgb(237, 235, 235);
}

.container {
    width: 900px;
    margin: 80px auto 0;
}

.page-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    border-left: 6px solid black;
    padding-left: 20px;
}

.tab {
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin-bottom: 30px;
}

.tab__list {
    display: flex;
    justify-content: left;
    gap: 100px;
    padding-left: 80px;
    margin: 0;
    list-style: none;
}

.tab__list li a {
    text-decoration: none;
    color: rgb(126, 125, 125);
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
    cursor: pointer;
}

.tab__list li a.active {
    font-weight: bold;
    color: black;
}

.tab__content {
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
}

.tab__index table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
}

.tab__index th,
.tab__index td {
    padding: 12px 6px;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.tab__index th {
    color: black;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.index__group--target {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    border-radius: 3px;
    font-size: 20px;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    margin: 40px 0 20px 0;
    cursor: pointer;

}

.tab__index td a {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.index__group--target a {
    text-decoration: none;
    color: black;
}

.center-month {
    display: flex;
    align-items: center;
    gap: 6px;
}

.index__group--table {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffff;
    font-size: 18px;
    color: gray;
    padding: 8px;
    border-bottom: 1px solid lightgray;
}

.index__group--table table {
    width: 100%;
    /* div に合わせる */
    border-collapse: collapse;
}

.index__group--table th,
.index__group--table td {
    padding: 8px 4px;
    border-bottom: 1px solid lightgray;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-align: center;
}

.index__group--table td:nth-child(2),
.index__group--table td:nth-child(3),
.index__group--table td:nth-child(4),
.index__group--table td:nth-child(5) {
    text-align: center;
}

.index__group--table td a {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
}