.content {
    display: flex;
    justify-content: center;
    /* 横方向中央 */
    /* align-items: center; */
    /* 縦方向中央 */
    /* min-height: calc(100vh - 200px); */
    /* ヘッダー高さを引いた分で画面中央 */
    padding: 20px;
    /* 必要に応じて余白 */
    box-sizing: border-box;

}

.login-form {
    width: 530px;
    /* 好みで調整 */
    background-color: #fff;
    /* 背景色（任意） */
    padding: 40px;

}

.page-title {
    text-align: center;
    /* 横中央 */
    font-size: 24px;
    /* お好みでサイズ調整 */
    margin-bottom: 20px;
    /* 下の余白 */
    font-weight: bold;
    /* 太字 */
}

.login-form__label {
    display: block;
    /* 縦並びの基本 */
    margin-top: 25px;
    margin-bottom: 8px;
    /* 下に余白 */
    font-weight: bold;
    /* お好みで太字 */
}

.login-form__input {
    display: block;
    width: 100%;
    /* フォーム幅に合わせる */
    padding: 10px;
    margin-bottom: 10px;
    /* 下に余白 */
    border: 1px solid #000;
    box-sizing: border-box;
    /* パディング込みで幅100% */
}

.login__button {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.login__link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

.form__error {
    color: red;
    margin-bottom: 20px;
    
}

/* === PC標準 (1400〜1540px) === */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    /* メインデザイン */
}